<div class="calendar-header">
    <button (click)="previous()" class="btn btn-primary">Previous</button>
    <span class="calendar-header-title">{{getTitle(currentDate$ | async)}}</span>
    <button (click)="next()" class="btn btn-primary">Next</button>    
</div>
<div class="col-12 calendar">
    <app-calendar-day 
        [date]="date" 
        [showDay]="idx < 7" 
        [events]="getEventsByDate(date)" 
        [height]="100 / ((dates$ | async).length / 7)" 
        *ngFor="let date of (dates$ | async); let idx = index;">
    </app-calendar-day>
</div>